imgaug~=0.4.0
json_tricks~=3.15.5
matplotlib~=3.4.1
numba~=0.53.1
numpy~=1.20.2
opencv-python~=4.5.1.48
pycocotools~=2.0.2
pytorch-lightning~=1.2.10
setuptools~=56.1.0
torchvision~=0.9.1
torch~=1.8.1
